<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Inspired by the art of storytelling, the name Pennpictures embodies the essence of "penning" memories through the lens, transforming fleeting instances into timeless visuals. 
          Capturing emotions, celebrating connections, and crafting narratives that speak beyond words.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a couple ready to “pen” your love story, an event organiser seeking to showcase your vibrant celebrations,
          or a newly wedded pair longing to relive your magical day—PennPictures is your perfect creative partner </p>
      <!-- If you want to add button below text -->
      <!--</div> 
      <div class="row">
        <div class="col-lg-12 text-center" style="margin-top: 30px;">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOdQtjSG3TUBKr4MpnjDqMgeOLYZr0WizebkB5RKSaunsRDg/viewform?usp=header" class="btn btn-primary">
          Click here to Contact us!
        </a> -->
      </div>
    </div>
  </div>
</section>
